<h1>Car Details</h1>
<button (click)='like()'>Like</button>

<div>
    {{car.make}} {{car.model}} -
    <p>{{car.likes}} Likes </p>
    <img *ngIf='car.image' src="{{car.image}}" />
</div>

<div class="form-group">
    <label for="rating">Rating</label>
    <select class="form-control" id="rating" name="rating" [(ngModel)]='review.rating'>
        <option *ngFor='let number of [1, 2, 3, 4, 5]' [value]='number'>
            {{number}}
        </option>
    </select>
</div>

<div>
    <form #reviewForm='ngForm' (submit)='submitReview()'>
        <div>
        <label for="comment">Comment</label>
        <textarea class="form-control" id="comment" name="comment" [(ngModel)]='review.comment'></textarea>
        <div>
        <button type="submit" class="btn btn-success" [disabled]='!reviewForm.form.valid'>Submit</button>
</div>
<div>
    <div *ngFor='let review of reviews'>
        {{review.rating}} <span *ngIf='review.comment'>{{review.comment}}</span>
    </div>
</div>
